*.class
*.jar
.DS_Store
.cljs_node_repl/
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/target/
node_modules
out/
pom.xml
pom.xml.asc
