{:paths   ["src"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps
            {lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}}
           :build
           {:extra-deps
            {seancorfield/depstar {:mvn/version "1.0.94"}
             deps-deploy {:mvn/version "0.0.9"}}}}}
