{:paths   ["src"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps
            {lambdaisland/kaocha {:mvn/version "1.68.1059"}
             lambdaisland/kaocha-cljs {:mvn/version "1.0.107"}}}
           :build
           {:extra-deps
            {seancorfield/depstar {:mvn/version "2.0.216"}
             deps-deploy/deps-deploy {:mvn/version "0.0.12"}}}}}
