#kaocha/v1{:tests [{:id            :clj/unit
                    :type          :kaocha.type/clojure.test
                    :source-paths  ["src"]
                    :test-paths    ["test"]}
                   {:id            :cljs/unit-nodejs
                    :type          :kaocha.type/cljs
                    :source-paths  ["src"]
                    :test-paths    ["test"]
                    :cljs/repl-env cljs.repl.node/repl-env}]

           :plugins [:kaocha.plugin/notifier]}
